body { 
    background: radial-gradient(#1f1f1f,#101010);
    color: #bfbfbf;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
}

body h1 {
    color: white;
    line-height: 1.2;
}

body h2 {
    color: white;
    line-height: 1.2;
}

p {
    font-size: 16px;
    /* look into how to center a smaller text box*/
}

a {
    color: lightblue;
}
/* experimented with anchors and floats to make an image-on-hover link */
/* need to fix positioning */
.profile a img {
    visibility: hidden;
    float: left;
}

.profile a:hover img{
    visibility: visible;
    float: none;
}

a:hover {
    color: grey;
}